export SECRET_KEY = 'hm#no-1un)lkd5fugarq2t24zshp09bh1a#=o6fm@97$v623!('
export DB_NAME = 'zoounama'
export DB_USER = 'root'
export DB_PASSWORD = '...'
export DB_HOST = 'localhost'
export DB_PORT = '3306'
export DEBUG = 'True'
export DB_USED='sqlite'
export ALLOWED_HOSTS='api-badge.v3l0z.com.br'
export CSRF_TRUSTED_ORIGINS = 'http://api-badge.v3l0z.com.br'